### №1 Классы

Сначала записан номер класса (число, равное 7, 8 или 9), затем (через пробел) — фамилия ученика.

Необходимо вывести список школьников по классам: сначала всех из 7, затем из 8, затем 9. Внутри класса порядок учеников должен соотв. порядку ввода.

```bash
7 Ivanov
8 Petrov
9 Sidorov
7 Grigoryev
7 Sergeev
8 Yakovlev
```

Результат:

```bash
7 Ivanov
7 Grigoryev
7 Sergeev
8 Petrov
8 Yakovlev
9 Sidorov
```

### №2 Скобочная последовательность

Дана последовательность, состоящая из круглых и квадратных скобок.
Правильной последовательностью называется та, которая может быть получена удалением все операндов и цифр.
Для последовательности определите - является ли она правильной.
Входные данные:

Запись скобочной последовательности $1<=|2S|<=200$

Результат:

"Yes" или "No" в зависимости от ответа

```bash
([])[]()
```

`Yes`

### №3 Появления слов
Словом считается последовательность непробельных символов идущих подряд, слова разделены одним или большим числом пробелов или `символами конца строки`.

Для каждого слова из этого текста подсчитайте, сколько раз оно встречалось в этом тексте ранее

```bash
She sells sea shells on the sea shore;
The shells that she sells are sea shells I'm sure.
So if she sells sea shells on the sea shore,
I'm sure that the shells are sea shore shells.
```

Результат:
```bash
0 0 0 0 0 0 1 0 0 1 0 0 1 0 2 2 0 0 0 0 1 2 3 3 1 1 4 0 1 0 1 2 4 1 5 0 0 
```

### №4 Частота появления

Дан текст, выведите все слова на разных строчках, отсортированные по убыванию их кол-ва, а при равном кол-ве отсортировать лексикографически.

Ввод:
```bash
hi
hi
what is your name
my name is bond
james bond
my name is damme
van damme
claude van damme
jean claude van damme
```

Результат:
```bash
damme
is
name
van
bond
claude
hi
my
james
jean
what
your
```

### №4 Посчитайка

Посчитайте, сколько раз в последовательности символов, заканчивающейся точкой, встречаются цифры и сколько — латинские буквы.

Ввод:
```bash
2A+erG23SDdr.
```

Результат:
```bash
3 8
```

### №5 Замените
Дан список чисел - найдите максимум и минимум, а затем поменяйте их местами.

Входные данные:
$2<=N<=10^4$
На следующей строке расположены $N$ целых чисел, разделенных пробелами

Пример

```bash
5
1 5 4 3 2
```

Результат

```bash
5 1 4 3 2 
```

Если было слишком легко - могу докинуть сложные задачи