### Что такое реляционные базы данных?

Совокупность данных формирует базу данных — массив, в котором собраны и организованы по некоторому принципу данные из какой-либо области знаний.

Реляционная база данных — это составленная по реляционной модели база данных, в которой данные, занесенные в таблицы, имеют изначально заданные отношения. Сами таблицы в такой базе данных также соотносятся друг с другом строго определенным образом. Реляционные базы данных используют целый комплекс инструментов, которые обеспечивают целостность данных, т. е. их точность, полноту и единообразие.

*Смотрим примеры моделей*

![schema](data/db_example.png)

### SQL

In [ ]:
import sqlite3
from datetime import date

# Подключаемся к базе данных
conn = sqlite3.connect('./data/tutorial.db')
cursor = conn.cursor()

In [ ]:
# Создание таблицы
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE,
        age INTEGER,
        created_at DATETIME DEFAULT CURRENT_TIMESTAMP
    )
''')

In [ ]:

# Добавление пользователей
users_to_insert = [
    ('John Doe', 'john@example.com', 20),
    ('Jane Smith', 'jane@example.com', 10),
    ('Bob Johnson', 'bob@example.com', None),
]

cursor.executemany('INSERT INTO users (name, email, age) VALUES (?, ?, ?)', users_to_insert)

# Сохраняем изменения
conn.commit()

In [ ]:

# Выполняем SELECT-запросы

# 1. Получаем всех пользователей
cursor.execute('SELECT id, name, email, created_at FROM users')
all_users = cursor.fetchall()
print("\nВсе пользователи:")
for user in all_users:
    print(user)

In [ ]:

# 2. Получаем пользователя по ID
user_id = 2
cursor.execute('SELECT * FROM users WHERE id = ?', (user_id,))
specific_user = cursor.fetchone()
print(f"\nПользователь с ID {user_id}:")
print(specific_user)

# conn.close()

In [ ]:
drop table if exists users;
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

drop table if exists comments;
CREATE TABLE comments (
    comment_id SERIAL PRIMARY KEY,
    user_id INT NOT NULL,
    content TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);  -- Каскадное удаление (если удаляется юзер, то удаляются зависимости

drop table if exists friends;
CREATE TABLE friends (
    user_id SERIAL NOT NULL,
    friend_id INT NOT NULL,
    status VARCHAR(20) DEFAULT 'pending',
    PRIMARY KEY (user_id, friend_id),
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (friend_id) REFERENCES users(user_id) ON DELETE CASCADE
);

INSERT INTO users (username, email) VALUES
('user1', 'user1@example.com'),
('user2', 'user2@example.com'),
('user3', 'user3@example.com'),
('user4', 'user4@example.com'),
('user5', 'user5@example.com');


INSERT INTO comments (user_id, content) VALUES
(1, 'This is a comment by user1'),
(2, 'This is a comment by user2'),
(3, 'User3 shared an opinion'),
(4, 'User4 left a comment here'),
(5, 'User5 loves this platform');

INSERT INTO friends (user_id, friend_id, status) VALUES
(1, 2, 'accepted'),
(1, 3, 'pending'),
(2, 4, 'accepted'),
(3, 5, 'pending');


select users.email, users.created_at as data from users;

INSERT INTO comments (user_id, content) VALUES
(1, '1111r1'),
(1, ' is a111'),
(2, '2222'),
(2, 'User2 left2e'),
(3, 'U3m');


select user_id, email, created_at from users
where user_id = 1;

select * from users, comments; -- очень плохо

select users.user_id as user_id, comments.content as content from users
join comments on users.user_id = comments.user_id
where users.user_id = 1;


select users.email, users.created_at as data, comments.content as comment from users
join comments on users.user_id = comments.user_id;

select email, created_at from users
where created_at > '2024-11-20'
order by email;

SELECT * FROM users
WHERE EXTRACT(YEAR FROM created_at) = 2024;

select users.user_id, count(comments) as cnt, users.email from users
join comments on comments.user_id = users.user_id
group by users.user_id
order by cnt desc
limit 3;

select users.user_id, comments.content from comments
join users on comments.user_id = users.user_id



-- больше примеров

select title, author, amount, round(price * 0.7, 2) as new_price from book -- Пример c использованием математики

SELECT author, sum(amount), count(amount) FROM book GROUP BY author; -- сумма и подсчет

/*
порядок выполнения  SQL запроса на выборку на СЕРВЕРЕ:

1) FROM
2) WHERE
3) GROUP BY
4) HAVING
5) SELECT
6) ORDER BY
*/


SELECT author,
    MIN(price) AS Минимальная_цена,
    MAX(price) AS Максимальная_цена
FROM book
WHERE author <> 'Есенин С.А.'
GROUP BY author
HAVING SUM(amount) > 10;


-- Рекомендую сразу писать init.sql для создания бд

https://sql-ex.ru

https://stepik.org/course/63054/syllabus